*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Inter', sans-serif;
    background-color:  hsl(233, 47%, 7%);
    min-height: 500px;
    display: flex;
    align-items: center;
    font-size: 15px;
    font-weight: 400;
}
.container{
    max-width: 1020px;
    margin: 0 auto;

}
.card{
    background-color: hsl(244, 38%, 16%);
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin: 20px;
    
}
.card-picture img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.card-picture{
    position: relative;
}
.card-picture::after{
    position: absolute;
    content: '';
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    
    background-color: hsl(277, 64%, 61%);
    opacity: 0.5;
}

.card-text{
    padding: 50px;
}
.title{
    font-size: 25px;
    font-weight: 700;
    color: hsl(0, 0%, 100%);
    padding-bottom: 20px;
}

.title span{
    color:hsl(277, 64%, 61%);

}
.description{
    color: hsla(0, 0%, 100%, 0.75);
    line-height: 25px;
}
.status{
    display: flex;
    justify-content: space-between;
    font-family: 'Lexend Deca', sans-serif;
    padding-top: 50px;
}

.num{
    color:hsl(0, 0%, 100%);
    font-size: 20px;
    padding-bottom: 5px;
    
}
.num-text{
    color: hsla(0, 0%, 100%, 0.6);
    font-size: 13px;
}

@media screen and (max-width: 425px) {
    body{
        text-align: center;
    }
    .card{
        grid-template-columns: 1fr;
    }
    .card-picture{
        order: -1;
    }
    .status{
        flex-direction: column;
    }
    .status div{
        margin-top: 20px;
    }
}